.profile__edit-button {
    width: 24px;
    height: 24px;
    border: solid 1px white;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    margin-top: 6px;
    opacity: 1;
    transition: opacity .3s linear;
}

@media screen and (max-width: 720px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-bottom: 9px;
        margin-left: 10px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}